<h1 class="list__title">{{pageTitle}}</h1>

<div class="table-wrapper">
  <table mat-table [dataSource]="dataSource" matSort class="lit-table">
    <ng-container matColumnDef="priority">
      <th class="list__table-header" mat-header-cell *matHeaderCellDef mat-sort-header
        sortActionDescription="Sort by priority">Priority</th>
      <td mat-cell *matCellDef="let row">{{ row.priority }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th class="list__table-header" mat-header-cell *matHeaderCellDef mat-sort-header
        sortActionDescription="Sort by description">Description</th>
      <td mat-cell *matCellDef="let row">{{ row.description }}</td>
    </ng-container>

    <ng-container matColumnDef="dueDate">
      <th class="list__table-header" mat-header-cell *matHeaderCellDef mat-sort-header>Due date</th>
      <td mat-cell *matCellDef="let row">{{ row.dueDate }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="listColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: listColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>